.slot_wrap {
  display: inline-block;
  white-space: nowrap;
}
.slot {
  display: inline-block;
  overflow: hidden;
  text-align: center;
  vertical-align: bottom;
  will-change: transform;
}
.separator {
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
}
.numbers {
  display: block;
}
.num {
  display: block;
}
